absl-py==1.0.0
blis==0.4.1
boto3==1.14.40
botocore==1.17.63
cachetools==5.0.0
catalogue==1.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cymem==2.0.6
decorator==5.1.1
distlib==0.3.4
docutils==0.15.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
filelock==3.6.0
flashtext==2.7
future==0.18.2
google-auth==2.6.0
google-auth-oauthlib==0.4.6
grpcio==1.44.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.11.1
jmespath==0.10.0
joblib==0.14.1
Markdown==3.3.6
murmurhash==1.0.6
networkx==2.4
nltk==3.7
numpy==1.16.3
oauthlib==3.2.0
packaging==21.3
pandas==1.1.1
pke-tool==1.8.1
plac==1.1.3
platformdirs==2.5.1
preshed==3.0.6
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
python-dateutil==2.8.1
pytorch-lightning==0.8.1
pytz==2020.1
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.3.7
sacremoses==0.0.47
scikit-learn==0.22.1
scipy==1.4.1
sense2vec==1.0.3
sentencepiece==0.1.96
six==1.15.0
sklearn==0.0
spacy==2.2.4
srsly==1.0.5
strsim==0.0.3
summarizer==0.0.7
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thinc==7.4.0
tokenizers==0.8.1rc1
torch==1.9.0
tqdm==4.62.3
transformers==3.0.2
typing_extensions==4.1.1
Unidecode==1.1.1
urllib3==1.25.11
virtualenv==20.13.2
wasabi==0.9.0
Werkzeug==2.0.3
wget==3.2
wincertstore==0.2
zipp==3.7.0
